
<h1>Edit Manifest</h1> 

<div class="panel panel-default">
    <!-- Default panel contents -->

    <div class="panel-heading" ng-if="activeManifest.name"  ng-model="activeManifest.name" ng-bind="activeManifest.name" contenteditable></div>

    <div class="user-menu pull-right" ucm-importer-user-select-list></div>

    <div class="panel-body"
        <p  class="contenteditable" contenteditable ng-model="activeManifest.description"></p>



    </div>

    <div  class="button-panel-group">
        <button type="button" class="btn btn-danger btn-sm pull-right"  ng-click="removeManifest()">Delete</button>
        <button type="button" class="btn btn-primary btn-sm pull-right"  ng-click="updateManifest()">Save</button>
    </div>

</div>

<!--<pre>-->
<!--{{ activeManifest | json }}-->
<!--</pre>-->

<!-- Table -->

<!-- <div ucm-documents-by-manifest>
    hello
</div>
-->


<div ucm-manifest-document-manager>
        <table class="table table-striped table-hover" >
            <thead>
                <tr>
                    <th>File Name</th>
                    <th ng-repeat="rule in activeManifest.rules">{{rule.metadataID}}</th>
                </tr>
            </thead>
            <tbody>

            <!-- <pre>{{currentDocs | json}}</pre> -->

                <tr ng-repeat="doc in currentDocs" >

                    <td ><a ng-click="testCLick(doc)">{{doc.fileName}}</a></td>
                    <td ng-repeat="rule in activeManifest.rules" ng-init="mid=rule.metadataID">

                        

                        <div contenteditable ucm-auto-save-doc ng-if="singleValue(rule.options)" ng-model="doc.rules[rule.metadataID]">
                            {{doc.rules[rule.metadataID]}}

    
                        </div>


                        <select  
                        ucm-auto-save-doc
                        ng-if="!singleValue(rule.options)" 
                        ng-model="doc.rules[mid]"
                        ng-options="option as option for option in arrayFromString(rule.options)"
                        >
                        



                    </select>

                 <!--    {{doc | json}} -->

                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="panel panel-default">
    <!-- Default panel contents -->

    <div class="panel-heading" >Manifest Rules</div>

    <div class="panel-body" ucm-rule-manager>
       <table class="table">
           <thead>
            <tr>
                <th>Metadata ID</th>
                <th>Default Value</th>
                <th>Options</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
           <tr ucm-new-rule>
            <td contenteditable ng-model="newrule.metadataID" class="no-value">{{newrule.metadataID}}</td>
            <td contenteditable  class="no-value" ng-model="newrule.defaultValue">{{newrule.defaultValue}}</td>
            <td></td>
            <td><a class="button" ng-click="addRule()">add</a></td>
        </tr>
        <tr ng-repeat="rule in activeManifest.rules">
           <td ng-model="rule.metadataID" contenteditable>{{rule.metadataID}}</td>
           <td ng-model="rule.defaultValue" contenteditable>{{rule.defaultValue}}</td>
           <td ng-model="rule.options" contenteditable>{{rule.options}}</td>
           <td><a ng-click="updateManifest()">update</a></td>
       </tr>
   </tbody>
</table>
</div>


</div>


<!--<pre>-->
<!--{{ updatedManifestDetail | json}}-->
<!--</pre>-->

<!--contenteditable strip-br-->
<!--<pre>    {{manifests | json}}</pre>-->