<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

aa
    <% for (i in fileInfo){ %>

    <li>
       <b><%= i %></b> -  <%=  fileInfo[i] %>
    </li>




   <% }%>
</body>
</html>